@page
@model WebApplication1.Pages.GalleryModel
@{
	ViewData["Title"] = "Image Gallery";
}
<style>
    div.gallery {
        margin: 7px;
        border: 1px solid #ccc;
        float: left;
        width: 250px;
        height: 335px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        text-align: center;
        border-radius:5%;
    }

        div.gallery:hover {
            border: 1px solid red;
        }

        div.gallery img {
            width: 200px;
            height: 180px;
        }

    div.desc {
        padding: 15px;
        text-align: center;
    }

    .button-24 {
        background: #FF4742;
        border: 1px solid #FF4742;
        border-radius: 6px;
        box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
        box-sizing: border-box;
        color: #FFFFFF;
        cursor: pointer;
        display: inline-block;
        font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
        font-size: 16px;
        font-weight: 800;
        line-height: 16px;
        min-height: 40px;
        outline: 0;
        padding: 12px 14px;
        text-align: center;
        text-rendering: geometricprecision;
        text-transform: none;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        vertical-align: middle;
        margin-bottom: 10px;
    }

    .button-24:hover,
    .button-24:active {
        background-color: initial;
        background-position: 0 0;
        color: #FF4742;
    }

    .button-24:active {
        opacity: .5;
    }

    .button-52 {
      font-size: 16px;
      font-weight: 200;
      letter-spacing: 1px;
      padding: 13px 20px 13px;
      outline: 0;
      border: 1px solid black;
      cursor: pointer;
      position: relative;
      background-color: rgba(0, 0, 0, 0);
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      margin-bottom:15px;
    }

    .button-52:after {
      content: "";
      background-color: #ffe54c;
      width: 100%;
      z-index: -1;
      position: absolute;
      height: 100%;
      top: 7px;
      left: 7px;
      transition: 0.2s;
    }

    .button-52:hover:after {
      top: 0px;
      left: 0px;
    }

    @@media (min-width: 768px) {
      .button-52 {
        padding: 13px 50px 13px;
      }
    }
    .button-33 {
        background-color: #c2fbd7;
        border-radius: 100px;
        box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
        color: green;
        cursor: pointer;
        display: inline-block;
        font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
        padding: 7px 20px;
        text-align: center;
        text-decoration: none;
        transition: all 250ms;
        border: 0;
        font-size: 16px;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
    }

    .button-33:hover {
        box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
        transform: scale(1.05) rotate(-1deg);
    }
</style>

<div>
	<h1>Image Gallery</h1>
	<hr />
    <form method="post">
        <p>
        <button class ="button-52" asp-page-handler="Add">+ New Picture</button>
        <button asp-page-handler="To" class="button-52">SlideShow →</button>
        </p>
    </form>
    
</div>

<div>
    @if (Model.dataTable != null)
    {
        for (int i = 0; i < Model.dataTable.Rows.Count; i++)
        {
            <div class="gallery">
                <form method="post">
                    <a  href="/GalleryShow?id=@Model.dataTable.Rows[i][0].ToString()"><img class="demo cursor" src="data:image/jpeg;base64,@Model.dataTable.Rows[i][6].ToString()"></a>
                    @* <button asp-page-handler="Show" asp-route-id="@Model.dataTable.Rows[i][0].ToString()">TEST</button> *@
                <div class="desc"><Strong><p style="height: 10px;">  @Model.dataTable.Rows[i][1].ToString() </p></Strong></div>
                @* <form method="post"> *@
					<p style="text-align:center;">
						From <strong><b><i>@Model.dataTable.Rows[i][5].ToString()</i></b></strong>
					</p>
                    @if (Model.who == "ad")
                    {
                        <button class="button-24" asp-page-handler="Update" asp-route-id="@Model.dataTable.Rows[i][0].ToString()">Edit ✎</button>
                        <button class="button-24" asp-page-handler="Delete" asp-route-id="@Model.dataTable.Rows[i][0].ToString()" onclick="if (!confirm('你確定嗎？')) return false;">Delete 🗑︎</button>
                    }
                    else
                    {
                        @* <button class="button-33" asp-page-handler="Download" asp-route-id="@Model.dataTable.Rows[i][0].ToString()">Download ⥥</button> *@
                        <button onclick="location.href='/Gallery'" class="button-33" asp-page-handler="No"><a href="data:image/jpeg;base64,@Model.dataTable.Rows[i][6].ToString()" download="@Model.dataTable.Rows[i][4].ToString()">Download ⥥</a></button>
                    }
                </form>
            </div>
        }
    }
</div>
