@page
@model WebApplication1.Pages.UserModel
@{
    ViewData["Title"] = "Manage DB";
}

<h1>@Model.WelcomeMessage</h1>
<style>
    .button-89 {
        --b: 3px; /* border thickness */
        --s: .45em; /* size of the corner */
        --color: #373B44;
        padding: calc(.5em + var(--s)) calc(.9em + var(--s));
        color: var(--color);
        --_p: var(--s);
        background: conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0) var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
        transition: .3s linear, color 0s, background-color 0s;
        outline: var(--b) solid #0000;
        outline-offset: .6em;
        font-size: 16px;
        border: 0;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        margin-bottom:10px;
    }

        .button-89:hover,
        .button-89:focus-visible {
            --_p: 0px;
            outline-color: var(--color);
            outline-offset: .05em;
        }

        .button-89:active {
            background: var(--color);
            color: #fff;
        }
</style>
<form method="post">
	<button class="button-89" asp-page-handler="Logout">Logout</button>
    <table id="myTable" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Id</th>
                <th>Password</th>
                <th>Name</th>
                <th>Age</th>
                <th>Sex</th>
                <th>Fuctions</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.dataTable != null)
            {
                for (int i = 0; i < Model.dataTable.Rows.Count; i++)
                {
                    <tr>
                        <td>@Model.dataTable.Rows[i][0].ToString()</td>
                        <td>@Model.dataTable.Rows[i][1].ToString()</td>
                        <td>@Model.dataTable.Rows[i][2].ToString()</td>
                        <td>@Model.dataTable.Rows[i][3].ToString()</td>
                        <td>@(Model.dataTable.Rows[i][4].ToString() == "1" ? "男" : "女")</td>
                        <td>
                            <button class="btn btn-link" asp-page-handler="Update" asp-route-id="@Model.dataTable.Rows[i][0].ToString()">Edit</button>
                            <button class="btn btn-link" asp-page-handler="Delete" asp-route-id="@Model.dataTable.Rows[i][0].ToString()" onclick="if (!confirm('你確定嗎？')) return false;">Delete</button>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</form>